
@{
    ViewBag.Title = "Index";
}

<h2>Tareas de Administrador</h2>
<ul>
    <li>@Html.ActionLink("Crear Nuevo Usuario", "CrearUsuario", "Admin")</li>
    <li>@Html.ActionLink("Crear Nuevo Rol", "CrearRol", "Admin")</li>
    <li>@Html.ActionLink("Asignar Rol a Usuario", "AsignarRol", "Admin")</li>
</ul>
